body {
  margin: 0;
  font-family: Courier, monospace;
  -webkit-font-smoothing: none;
  background-color: black;
  color: rgb(12, 177, 26);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
