
body {
  margin: 0;
  font-family: 'VT323';
  font-size: 1.4em;
  -webkit-font-smoothing: none;
  background-color: black;
  color: rgb(115, 242, 61);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.action-button {
  color: rgb(115, 242, 61);
  border-color: rgb(115, 242, 61);
  background-color: black;
}

.cards {
  background-color: black;
  border-color: rgb(115, 242, 61);

}

.roomCard {
  background-color: black;
  max-width: 622px;
  min-width: 622px;
  vertical-align: text-top;
  margin-bottom: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  margin: 2.5px;
}
